<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NodeObserver.Properties.Settings.subject101ConnectionString"
            connectionString="Data Source=|DataDirectory|\subject101.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>